@import url('https://fonts.googleapis.com/css2?family=PlayFlair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #fe0084;
    --secondary-color: #f5deb3;
    --title: #fff9e6;
    --contrast: #fe8629;
    --text-base: #333;
    --cta: #c5006c;
    --background: #1a1a1a;
    --text-color: #ffffff;
    --gradient1: linear-gradient(135deg, #e6007e, #6a1b9a);
    --gradient2: linear-gradient(90deg, #ff3399, #4a148c);
    --font-base: 'Roboto', sans-serif;
    --font-title: 'PlayFlair Display', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
    text-decoration: none;
    list-style: none;
}

body {
    color: var(--text-color);
    overflow: scroll;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--gradient1);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.btn:hover {
    background: var(--gradiente2);
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}